.autocomplete {
    width: 500px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    background: #3b3b3b;
}

.autocomplete input {
    width: 100%;
    border: none;
    margin: 10px 0;
    font-size: 16px;
    padding: 10px 10px 0 10px;
}

input:focus {
    outline: none;
}

.suggestions-group {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-top: 1px solid #d4d4d4;
    border-radius: 0 0 8px 8px;
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #464646;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.list-group-item-container {
    display: flex;
}

.list-group-item-container small {
    min-width: 115px;
    display: block;
}

.list-group-item-container span {
    margin-left: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-group-item.active {
    z-index: 2;
    color: #464646;
}

.list-group-item.active,
.list-group-item:hover {
    background-color: #e1e3e5;
    color: #464646;
}

.is-completed {
    text-decoration: line-through;
}